<!-- <div class="container-fluid "> -->
    <!-- <div class="row content-row navbar"> -->
    <nav class="site-nav" id="site-nav">
        <a href="/"><h2>//markWith</h2></a>
        <a href="/documents">Documents</a>
        <a href="/account">Settings</a>

        <div id="logout"><a href="#">Logout</a></div>
      </nav>

      <div class="page-wrap">
      <header class="main-header">
                <a href="#site-nav"><i class="fa fa-cog" aria-hidden="true"></i>
          </a>
                <a href="#" class="close-menu"><i class="fa fa-cog" aria-hidden="true"></i>
          </a>
      </header>

<section id="section2">
    <div class="header-row"><h2>User's Documents + Collaborations</h2></div>
<div class="container">
      <div id="user-documents"><table class="table table-condensed">
            <thead>
              <tr>
                <th>Document</th>
                <th># Collaborators</th>
                <th>Collaborators</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- //clicking takes you to document -->
                <td><a href="/editor">Crunch Party</a></td>
                <td>3 collaborators</td>
                <td>You, john@example.com, mark@johnnysroom.com</td>
              </tr>
              <tr>
                <!-- //clicking takes you to document -->
                <td><a href="/editor">Tuxedo Football</a></td>
                <td>4 collaborators</td>
                <td>You, john@example.com, mark@johnnysroom.com, johnny@ohhaimark.com</td>
              </tr>
              <tr>
                <!-- //clicking takes you to document -->
                <td><a href="/editor">Johnny's Promotion</a></td>
                <td>5 collaborators</td>
                <td>You, boss@oldmandonkey.com, mark@johnnysroom.com, lisa@donttrustme.com, denny@thewindow.com</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </section>
</div>
</div>
</div>
