
<!-- //Basically "Editing {{document.name}} as {{user.fname}} + {{user.lname}}" -->
<div id="document-live" class="navbar-text header-row col-sm-12">
    <h4>Editing "<span id="docName">untitled</span>" as Mark Otto</h4>
</div>

<div class="container-fluid">
    <div class="row content-row">
    <nav class="site-nav" id="site-nav">
        <a href="/"><h2>//markWith</h2></a>
        <a href="/documents">Documents</a>
        <a href="/user/account">Settings</a>

        <div id="logout"><a href="#">Logout</a></div>
      </nav>

      <div class="page-wrap">

        <header class="main-header">
          <a href="#site-nav"><i class="fa fa-cog" aria-hidden="true"></i>
    </a>
          <a href="#" class="close-menu"><i class="fa fa-cog" aria-hidden="true"></i>
    </a>
    <div class="row header-row">
        <div class="col-xs-12 header">
            <input id="docId" value="{{documentId}}" style="display: none"/>
        </div>
    </div>
        </header>

        <div class="col-sm-6 text-pad">
            <textarea id="text-pad"></textarea>
        </div>
        <div class="col-sm-6 markdown">
            <div id="markdown-target"></div>
        </div>
    </div>
</div>
<nav class="site-nav-right" id="site-nav-right">
    <!-- // Document Title -->
    <form id="docName-editable-form">
        <input id="docName-editable" value="Crunch Party" minlength="1" />
    </form>
    <p>
        <h4>Collaborators</h4>
        <ul>
            <!-- // Add collaborators, specify Owner -->
            <li class="remove-collab">
                <a href="#"><i class="fa fa-minus" aria-hidden="true"></i>markotto@whateverman.net (You)</a>
            </li>
            <li class="remove-collab">
                <a href="#"><i class="fa fa-minus" aria-hidden="true"></i>kim@radiostatssss.com</a>
            </li>
            <li class="remove-collab">
                <a href="#"><i class="fa fa-minus" aria-hidden="true"></i> mikewallace@lol.com</a>
            </li>
            <form id="add-collab-form">
                <input id="add-collab" type="text" minlength="5" placeholder="Add Collaborator"/>
            </form>

        </ul>
    </p>
    <div id="delete-document">
        <a href="#"><i class="fa fa-times" aria-hidden="true"></i>Delete this document</a>
    </div>
  </nav>

  <div class="page-wrap-right">
      <header class="right-header">
        <a href="#site-nav-right">&#9776;</a>
        <a href="#" class="close-menu-right">&#9776;</a>
      </header>
</div>

</div>

<!-- Socket.io handler -->
    <script src='/socket.io/socket.io.js'></script>
    <!-- Client JS and custom Socket events -->
    <script src="/javascript/editor.js"></script>
