<section id="about" class="about-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="header-row"><h1>Frequently Asked Questions</h1></div>
                  <div class="question-1"><h4>What is Markdown?</h4></div>
                  <p>Markdown is a text-to-HTML conversion tool for web writers. Markdown allows you to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML (or HTML).</p>
                  <div class="question-2"><h4>Why use Markdown?</h4></div>
                  <p>The syntax is simple and it's simple formatting saves a significant amount of time over hand-crafted HTML tags. Markdown translates quickly to perfectly-formed HTML. No missing closing tags, no improperly nested tags, no blocks left without containers.</p>
                  <div class="question-3"><h4>How do I start using markWith?</h4></div>
                  <p>As simple as simple can get. Just register and sign in and you're on your way. Create documents with a click and add/remove collaborators with ease within the document editor page.</p>
                  <div class="question-4"><h4>Can I collaborate with others in real-time?</h4></div>
                  <p>Absolutely! markWith is meant to be used real-time to collaboratively work on documents with others. As one is editing, the markdown is dynamically generating and delivering your content.</p>
                  <div class="question-5"><h4>How many documents can I work on at a time?</h4></div>
                  <p>Create and work on as many documents as you like.  markWith makes it easy to keep track of all of your documents and accesible in your documents page.</p>

                  <br />
                  <div id="try">
                  <a href="/demo"><button class="btn btn-primary">Try the Demo</button></a></div>

                  <div id="github">
                    <h4><a href="https://github.com/markgreenburg/markwith" class="btn btn-primary">
                          <span class="fa fa-github fa-lg"></span>
                          View on GitHub</a></h4>
                  </div>

              </div>
          </div>
      </div>
  </section>
