<section id="about" class="about-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="header-row"><h1>Frequently Asked Questions</h1></div>
                  <div class="question-1"><h5>What is Markdown?</h5></div>
                  <p>Markdown is a text-to-HTML conversion tool for web writers. Markdown allows you to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML (or HTML).</p>
                  <div class="question-2"><h5>Why use Markdown?</h5></div>
                  <p>The syntax is simple and it's simple formatting saves a significant amount of time over hand-crafted HTML tags. Markdown translates quickly to perfectly-formed HTML. No missing closing tags, no improperly nested tags, no blocks left without containers.</p>
                  <div class="question-3"><h5>How do I start using markWith?</h5></div>
                  <p>As simple as simple can get. Just register and sign in and you're on your way. Create documents with a click and add/remove collaborators with ease within the document editor page.</p>
                  <div class="question-4"><h5>Can I collaborate with others in real-time?</h5></div>
                  <p>Absolutely! markWith is meant to be used real-time to collaboratively to work on documents with others. As one is editing, the markdown is dynamically generating and delivering your content.</p>

                  <br />
                  <div id="try">
                  <button class="btn btn-primary">Try the Demo</button></div>

              </div>
          </div>
      </div>
  </section>
