<div class="jumbotron">
    <section id="intro">
    <div id="info" class="typewriter">
    <h1>//markWith</h1>
<br />
        <h2>a collaborative markdown text editor</h2>
    </div>
</section>
</div>

  <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About Section</h1>
                    <p>Crema sugar, bar, seasonal extra froth white single origin. Cup macchiato to go americano, mug americano macchiato chicory redeye at black macchiato. Eu qui medium aged beans carajillo affogato spoon extraction so as instant. Medium, skinny froth, strong arabica crema dark doppio. Irish, lungo id galão rich bar milk body shop spoon acerbic java.
                    </p>

                    <br />
                    <button id="try" class="btn btn-primary">Try the Demo</button>
                </div>
            </div>
        </div>
    </section>
