<!DOCTYPE html>
<html>
  <head>
    <title>MarkWith | Collaborative Markdown</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- App stylesheet -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
      <div id="navbar" class="navbar navbar-static-top">
          <div class="navbar-brand">
              <a href="/">//markWith</a>
          </div>
          <div id="mynavbar-content">
              <ul class="nav navbar-nav">
                  <li class="active">
                      {{#if session.token}}
                      <li id="user-logout-li">
                          <a href="#">Logout</a>
                      </li>
                      <li id="create-doc-li">
                          <a href="#"><i class="fa fa-file-o" aria-hidden="true"></i></a>
                      </li>
                      {{else}}
                      <li id="user-login-li">
                          <a href="/user/login">Login</a>
                      </li>
                      <li>
                          <p>/</p>
                      </li>
                      <li>
                          <a href="/user/register">Signup</a>
                      </li>
                      <li id="faq">
                          <a href="#">FAQ</a>
                      </li>
                      {{/if}}
                  </li>
              </ul>
          </div>
      </div>
<!-- <div class="page-wrap page-wrap-right"> -->
    {{{body}}}
    <!-- Minified JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Minified Marked for realtime markdown conversion -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    <!-- Latest compiled and minified Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Load layout JS -->
    <script src="../javascript/layout.js"></script>
  </body>
</html>
