<div class="container-fluid">
    <div class="row content-row">    <nav class="site-nav" id="site-nav">
        <a href="/"><h2>//markWith</h2></a>
        <a href="#">Documents</a>
        <a href="/profile">Settings</a>
        <a href="#">Logout</a>
      </nav>

      <div class="page-wrap">

        <header class="main-header">
          <a href="#site-nav"><i class="fa fa-cog" aria-hidden="true"></i>
    </a>
          <a href="#" class="close-menu"><i class="fa fa-cog" aria-hidden="true"></i>
    </a>
        </header>

        <div class="col-sm-6 text-pad">
            <textarea id="text-pad"></textarea>
        </div>
        <div class="col-sm-6 markdown">
            <div id="markdown-target"></div>
        </div>
    </div>
</div>
    <nav class="site-nav-right" id="site-nav-right">
        <a href="/"><h2>//markWith</h2></a>
            <p>
                <ul>Collaborators
                <li><a href="#">person a</a></li>
                <li><a href="#">person b</a></li>
                </ul>
            </p>
    </nav>
  <div class="page-wrap-right">
      <header class="right-header">
        <a href="#site-nav-right">&#9776;</a>
        <a href="#" class="close-menu-right">&#9776;</a>
      </header>
</div>

</div>
<!-- </div> -->

<!-- <script>
$("label").on('click', function(){
  $("nav").toggle();
});
</script> -->
