<div class="container-fluid">
    <div class="row header-row">
        <div class="col-xs-12 header">
            <h1>Realtime Markdown Editor</h1>
        </div>
    </div>
    <div class="row content-row">
        <div class="col-sm-6 col-xs-12 text-pad">
            <textarea id="text-pad"></textarea>
        </div>
        <div class="col-sm-6 col-xs-12 markdown">
            <div id="markdown-target"></div>
        </div>
    </div>
</div>