@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');


$navblue: #0f4a7e;

html, body, div.container-fluid {
    // height: 100%;
    font-family: 'Inconsolata', monospace;
    background-color: #fff;

}

a:hover{
    background: none;
}

#navbar {
    padding: 10px;
    padding-right: 10%;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Inconsolata', monospace;
    font-size: 1.2em;
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 1000;

    p {
        padding-top: 13px;
    }

    a {
        color: #eee;
    }

    a:hover {
        background: none;
        text-decoration: underline;
    }
}

#mynavbar-content{
    float: right;
    }

#mobile-menu {
    float: right;

    button {
        background-color: #252728;
        color: #fff;
        border: none;
    }
}

.dropdown-menu {
    right: 0;
}

div.content-row {
    height: 90%;
}

div.text-pad {
    position: absolute;
    margin-top: 0;
    height: 100%;
}

textarea#text-pad {
    width: 100%;
    height: 100%;
    /*border: none;*/
    overflow: auto;
    resize: none;
}

#markdown, #markdown-target{
    position: absolute;
    padding: 15px;
    left: 50vw;
    width: 100%;
    overflow: hidden;
    text-overflow: clip;
    word-wrap: break-word;
    max-width: 100%;
}

.hide {
    display: none;
}

.navbar-brand {
    margin-left: 30px;
}

#document-live {
    margin-top: 0;
}

.navbar-text {
    color: #363636;
    font-style: italic;

    // padding-right: 5vw;
}

div.header-row {
    height: 10%;
    text-align: center;
}

div.sub-header-landing_page {
    height: 6%;
    text-align: center;
}

div.content-row {
    height: 80%;
    text-align: left;
}


// ============================
//     T E X T  E D I T O R
// ============================

div.text-pad {
    height: 100%;
}

textarea#text-pad {
    width: 100%;
    height: 100%;
    /*border: none;*/
    overflow: auto;
    resize: none;
}

// =======================
//     L E F T  N A V
// =======================
body {
  margin: 0;
  background-size: cover;
}

h1 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

.main-header {
  // background: #222;
  padding: 5px 0 5px 65px;
  color: white;
  position: absolute;
  // width: 100%;
  top:0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 1001;
}

.main-header a {
  position: absolute;
  left: 20px;
  top: 10px;
  color: white;
  font-size: 32px;
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}

.site-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #222;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-y: auto;
  transition: width 0.3s ease;
  white-space: nowrap;
  z-index: 1001;
  // text-transform: uppercase;
}

.site-nav a {
  display: block;
  border-bottom: 1px solid #666;
  color: white;
  padding: 34px;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #333;
}

.site-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  // background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

#logout {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #666;
    width: inherit;
}

.content {
  padding: 100px 20px 20px 20px;
  max-width: 900px;
}

.close-menu {
  display: none;
}

#site-nav:target {
  width: 20%;
}

#site-nav:target + .page-wrap {
  width: 80%;
}

#site-nav:target + .page-wrap .close-menu {
  display: block;
}

#site-nav:target + .page-wrap .main-header {
  width: 80%;
  left: 20%;
}


// ==============================
//       R I G H T  N A V
// ==============================

// vv (.right-header) is the icon that you click to pop out the right menu vv
.right-header {
  // background: #222;
  padding: 5px 0 5px 65px;
  color: white;
  position: absolute;
  width: 100%;
  top:0;
  right: 0;
  transition: all 0.3s ease;
  z-index: 1001;
}

.right-header a {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
  font-size: 32px;
}

.page-wrap-right {
  float: left;
  width: 100%;
  transition: width 0.3s ease;
}

// vv .site-nav-right is the whole right menu with collaborators and stuff vv
.site-nav-right {
    position: fixed;
    text-align: center;
    padding-top: 80px;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    overflow-y: auto;
    transition: width 0.3s ease;
    white-space: nowrap;
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #232526 , 80% #414345); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #232526 , 80% #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    form {
        background-color: none;
    }

    i {
        display: none;
        color: #fff;
    }

    input[type="text"]{
    border: none;
    background: transparent;
    color: #fff;
    margin: auto;
    }

    input:hover {
        text-decoration: underline;
    }

    input:hover + i {
        display: block;
    }

    h2 {
      display: block;
      border-bottom: 1px solid #666;
      color: white;
      padding: 34px;
    }

    h3 {
        padding: 20px;
        margin: auto;
    }

    h4 {
        color: #fff;
        padding-left: 20px;
    }

    a {
      display: block;
      color: #e5e5e5;
      padding: 15px;
    }

    a:hover {
        background: none;
        color:red;
    }


    ul {
        color: #e5e5e5;
        list-style: none;
        text-align: center;
        max-width: 2vw;
    }

    li {
    font-size: 0.9vw;
    text-align: left;
   }
}

#doc-title{
    text-align: center;
}

i {
    a:hover {
        background: none;
    }
}

// .site-nav-right a:hover,
// .site-nav-right a:focus {
//   background: #333;
// }

.site-nav-right:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
}

.content {
  padding: 100px 20px 20px 20px;
  max-width: 900px;
}

.close-menu-right {
  display: none;
}

#site-nav-right:target {
  width: 25%;
}

#site-nav-right:target + .page-wrap-right {
  width: 75%;
}

#site-nav-right:target + .page-wrap-right .close-menu-right {
  display: block;
}

#site-nav-right:target + .page-wrap-right .right-header {
  width: 80%;
  left: 20%;
}

#delete-document {
    position: fixed;
    padding-left: 2vw;
    bottom: 0;

    a:hover {
        color: #e5e5e5;
        background: red;
    }
}


// ==================================
//     A C C O U N T  P A G E
// ==================================

#section2 {
    // position: relative;
    // top: 10vw;

    h2 {
        color: #333;
    }
}

.update-form-content {
    padding-left: 30vw;
}

#user-settings {
    padding-left: 5vw;
    // width: 50%;


    h5 {
        font-size: 0.8em;
    }

    label {
        background: #fff;
        font-size: 1em;
        color: #333;
        padding: 0;
    }

    input {
        width: 30vw;
    }

}

.btn-primary {
    background-color: #333;
    border: 1px solid #333;
}

.btn:hover {
    background-color: #eee;
    color: #333;
    border: none;
}


// ==============================
//      D O C U M E N T S
// ==============================

#user-documents {
    padding: 20px 40px 40px 40px;

    a {
        color: #333;
        font-family: 'Noto Serif', serif;
        font-weight: bold;
    }
}


// ==============================
//      R E G I S T E R
// ==============================

.signup-form-content {
    padding-left: 5vw;
    // width: 50%;


    h5 {
        font-size: 0.8em;
    }

    label {
        background: #fff;
        font-size: 1em;
        color: #333;
        padding: 0;
    }

    input {
        width: 30vw;
    }

}

.signup-form-header {
    padding-top: 20px;
}

// ==============================
//       L O G I N  P A G E
// ==============================

#messages-list {
    list-style: none;
}

#account-login-container{
    padding-top: 20px;
}

.login-form-header {
    padding-bottom: 20px;
}

.login-form-content{
    input {
        width: 60%;
    }

    label {
        background: #fff;
        font-size: 1em;
        color: #333;
        padding: 0;
    }

    input {
        width: 30vw;
    }

}

#about {
    font-size: 1.2vw;
}
// ==============================
//       H O M E  P A G E
// ==============================

.jumbotron {
    color: #fff;
    background-color: rgba(76,76,76,1);
    padding:40px;

}

#description {
    visibility: hidden;
}

#intro {
    text-align: center;
    h1{
        margin: auto;
        font-size: 4vw;
    }
}

.typewriter{
    visibility: visible;
}

.typewriter

    h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  font-size: 1.6vw;
  border-right: .15em solid orange; /* The typwriter cursor */
  max-width: 38vw;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

#try {

        text-align: center;

        button {
            margin: auto;
            padding: 1vw 5vw 1vw 5vw;
        }
}

#about {
    h1 {
        font-size: 2.2vw;
    }
    h4 {
        font-size: 1.5vw;
    }
}

// =============================================
//             T I N Y  T Y P I N G
// =============================================
.typewriter-sm h2 {
    font-size: 1.8vw;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    max-width: 10vw;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
        typing-sm 3.5s steps(40),
        blink-caret-sm .75s step-end infinite;
}

/* The typing effect */
@keyframes typing-sm {
  from { width: 0 }
  to { width: 40% }
}

/* The typewriter cursor effect */
@keyframes blink-caret-sm {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

// =============================================
//       M O B I L E  C O N D I T I O N S
// =============================================

@media only screen and (max-width: 500px) {
    // #mynavbar-content {
    //     display: none;
    // }
}
