@import url("https://fonts.googleapis.com/css?family=Mukta+Vaani|Roboto");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css");
html, body, div.container-fluid {
  font-family: 'Inconsolata', monospace;
  background-color: #fff; }

#navbar {
  padding: 10px;
  padding-right: 10%;
  font-family: 'Inconsolata', monospace;
  font-size: 1.2em;
  background-color: #0f4a7e;
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526, #414345);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526, #414345);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  #navbar a {
    color: #eee; }

#mynavbar-content {
  float: right; }

div.content-row {
  height: 90%; }

div.text-pad {
  position: absolute;
  margin-top: 0;
  height: 100%; }

textarea#text-pad {
  width: 100%;
  height: 100%;
  /*border: none;*/
  overflow: auto;
  resize: none; }

#markdown, #markdown-target {
  position: absolute;
  left: 50vw;
  overflow: hidden;
  text-overflow: clip;
  word-wrap: break-word;
  max-width: 100%; }

.hide {
  display: none; }

.navbar-brand {
  margin-left: 30px; }

.navbar-text {
  color: #ccc;
  font-style: italic; }

div.header-row {
  height: 10%;
  text-align: center; }

div.content-row {
  height: 90%; }

div.text-pad {
  height: 100%; }

textarea#text-pad {
  width: 100%;
  height: 100%;
  /*border: none;*/
  overflow: auto;
  resize: none; }

body {
  margin: 0;
  background-size: cover;
  font-family: 'Quicksand', sans-serif; }

h1 {
  font-weight: normal; }

a {
  text-decoration: none; }

.main-header {
  padding: 5px 0 5px 65px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 100; }

.main-header a {
  position: absolute;
  left: 20px;
  top: 10px;
  color: white;
  font-size: 32px; }

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease; }

.site-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #222;
  overflow-y: auto;
  transition: width 0.3s ease;
  white-space: nowrap; }

.site-nav a {
  display: block;
  border-bottom: 1px solid #666;
  color: white;
  padding: 34px; }

.site-nav a:hover,
.site-nav a:focus {
  background: #333; }

.site-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4)); }

#logout {
  position: fixed;
  margin-bottom: 0;
  width: inherit; }

.content {
  padding: 100px 20px 20px 20px;
  max-width: 900px; }

.close-menu {
  display: none; }

#site-nav:target {
  width: 20%; }

#site-nav:target + .page-wrap {
  width: 80%; }

#site-nav:target + .page-wrap .close-menu {
  display: block; }

#site-nav:target + .page-wrap .main-header {
  width: 80%;
  left: 20%; }

.right-header {
  padding: 5px 0 5px 65px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  transition: all 0.3s ease;
  z-index: 100; }

.right-header a {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
  font-size: 32px; }

.page-wrap-right {
  float: left;
  width: 100%;
  transition: width 0.3s ease; }

.site-nav-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #222;
  overflow-y: auto;
  transition: width 0.3s ease;
  white-space: nowrap; }
  .site-nav-right a {
    display: block;
    border-bottom: 1px solid #666;
    color: white;
    padding: 34px; }
  .site-nav-right ul, .site-nav-right li {
    color: white; }

.site-nav-right a:hover,
.site-nav-right a:focus {
  background: #333; }

.site-nav-right:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4)); }

.content {
  padding: 100px 20px 20px 20px;
  max-width: 900px; }

.close-menu-right {
  display: none; }

#site-nav-right:target {
  width: 20%; }

#site-nav-right:target + .page-wrap-right {
  width: 80%; }

#site-nav-right:target + .page-wrap-right .close-menu-right {
  display: block; }

#site-nav-right:target + .page-wrap-right .right-header {
  width: 80%;
  left: 20%; }

.tabordion {
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 80%; }

.tabordion input[name="sections"] {
  left: 0;
  position: absolute;
  top: 0; }

.tabordion section {
  display: block; }

.tabordion section label {
  background: #333;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 180px;
  z-index: 100; }
  .tabordion section label label {
    color: #fff; }

.tabordion section article {
  display: none;
  left: 230px;
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;
  top: 0; }

.tabordion input[name="sections"]:checked + label {
  color: #bbb; }

.tabordion input[name="sections"]:checked ~ article {
  display: block; }

@media (max-width: 533px) {
  h1 {
    width: 100%; }

  .tabordion {
    width: 100%; }

  .tabordion section label {
    font-size: 1em;
    width: 160px; }

  .tabordion section article {
    left: 200px;
    min-width: 270px; }

  .tabordion section article:after {
    bottom: 0;
    content: "";
    display: block;
    left: -199px;
    position: absolute;
    top: 0;
    width: 200px; } }
@media (max-width: 768px) {
  h1 {
    width: 96%; }

  .tabordion {
    width: 96%; } }
@media (min-width: 1366px) {
  h1 {
    width: 70%; }

  .tabordion {
    width: 70%; } }

/*# sourceMappingURL=style.css.map */
