@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani|Roboto');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');

$navblue: #0f4a7e;

html, body, div.container-fluid {
    // height: 100%;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Inconsolata', monospace;
    background-color: #fff;
}

#navbar {
    padding: 10px;
    padding-right: 10%;
    font-family: 'Inconsolata', monospace;
    font-size: 1.2em;
    background-color: $navblue;
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    a {
        color: #eee;
    }
}

#mynavbar-content{
    float: right;
    }

div.content-row {
    height: 90%;
}

div.text-pad {
    position: absolute;
    margin-top: 0;
    height: 100%;
}

textarea#text-pad {
    width: 100%;
    height: 100%;
    /*border: none;*/
    overflow: auto;
    resize: none;
}

#markdown, #markdown-target{
    position: absolute;
    left: 50vw;
    overflow: hidden;
    text-overflow: clip;
    word-wrap: break-word;
    max-width: 100%;
}

.hide {
    display: none;
}

.navbar-brand {
    margin-left: 30px;
}

.navbar-text {
    color: #ccc;
    font-style: italic;
}

div.header-row {
    height: 10%;
    text-align: center;
}

div.content-row {
    height: 90%;
}

div.text-pad {
    height: 100%;
}

textarea#text-pad {
    width: 100%;
    height: 100%;
    /*border: none;*/
    overflow: auto;
    resize: none;
}

// =======================
//     LEFT NAV
// =======================
body {
  margin: 0;
  // background: #eee;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  // min-height: 100%;
}

h1 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

.main-header {
  // background: #222;
  padding: 5px 0 5px 65px;
  color: white;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 100;
}

.main-header a {
  position: absolute;
  left: 20px;
  top: 10px;
  color: white;
  font-size: 32px;
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}

.site-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #222;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-y: auto;
  transition: width 0.3s ease;
  white-space: nowrap;
  // text-transform: uppercase;
}

.site-nav a {
  display: block;
  border-bottom: 1px solid #666;
  color: white;
  padding: 34px;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #333;
}

.site-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  // background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

#logout {
    position: fixed;
    margin-bottom: 0;
    width: inherit;
}
.content {
  padding: 100px 20px 20px 20px;
  max-width: 900px;
}

.close-menu {
  display: none;
}

#site-nav:target {
  width: 20%;
}

#site-nav:target + .page-wrap {
  width: 80%;
}

#site-nav:target + .page-wrap .close-menu {
  display: block;
}

#site-nav:target + .page-wrap .main-header {
  width: 80%;
  left: 20%;
}

// ==============================
//         Right Toggle
// ==============================
.right-header {
  // background: #222;
  padding: 5px 0 5px 65px;
  color: white;
  position: fixed;
  width: 100%;
  top:0;
  right: 0;
  transition: all 0.3s ease;
  z-index: 100;
}

.right-header a {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
  font-size: 32px;
}

.page-wrap-right {
  float: left;
  width: 100%;
  transition: width 0.3s ease;
}

.site-nav-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  overflow-y: auto;
  transition: width 0.3s ease;
  white-space: nowrap;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #232526 , 80% #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #232526 , 80% #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    h2 {
      display: block;
      border-bottom: 1px solid #666;
      color: white;
      padding: 34px;
    }

    h4 {
        color: #fff;
    }

    a {
      display: block;
      color: white;
      padding: 15px;
    }

    ul {
        list-style: none;
        text-align: center;
    }

    li {
    font-size: 0.9vw;
    text-align: left;
   }
}

.site-nav-right a:hover,
.site-nav-right a:focus {
  background: #333;
}

.site-nav-right:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.content {
  padding: 100px 20px 20px 20px;
  max-width: 900px;
}

.close-menu-right {
  display: none;
}

#site-nav-right:target {
  width: 20%;
}

#site-nav-right:target + .page-wrap-right {
  width: 80%;
}

#site-nav-right:target + .page-wrap-right .close-menu-right {
  display: block;
}

#site-nav-right:target + .page-wrap-right .right-header {
  width: 80%;
  left: 20%;
}



// ==============================
//         Profile Page
// ==============================
//**********************
//      tab menu
// *********************
.tabordion {
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 100%;
  // color: #fff;
}

.tabordion input[name="sections"] {
  left: 0;
  position: absolute;
  top: 0;
}

.tabordion section {
  display: block;
}

.tabordion label {
  background: #333;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 20vw;
  z-index:100;
  color: #fff;
  }


.tabordion section article {
  display: none;
  left: 20vw;
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;
  top: 0;
}

// .tabordion section article:after {
//   background-color: #ccc;
//   bottom: 0;
//   content: "";
//   display: block;
//   left:-229px;
//   position: absolute;
//   top: 0;
//   width: 220px;
//   z-index:1;
// }

.tabordion input[name="sections"]:checked + label {
  // background: #eee;
  color: #bbb;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}

#user-settings {
    width: 100%;

    h5 {
        font-size: 0.6em;
    }

    label {
        background-color: #fff;
        font-size: 1em;
        color: #333;
        padding: 0;
    }

    input {
        width: 40vw;
    }

}

.update-form {
    padding-left: 20px;
}
